{% extends "main.twig" %}

{% block title %}
    Test
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="http://static.cock.localhost/static/css/style.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
{% endblock %}
{% block body %}
    <div class="parallaxWrapper">
      <main>
        {% block content %}{% endblock %}
      </main>
      <div class="parallaxBg parallaxLayer1">
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
      </div>
      <div class="parallaxBg parallaxLayer2">
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
        <svg
          class="bgPolygon"
          viewBox="0 0 1933 975"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M936.167 967.909C955.402 976.844 977.598 976.844 996.833 967.909L1890.43 552.798C1945.99 526.991 1945.99 448.009 1890.43 422.202L996.833 7.09106C977.598 -1.84448 955.402 -1.84442 936.167 7.09106L42.5665 422.202C-12.9888 448.009 -12.9888 526.991 42.5665 552.798L936.167 967.909Z"
          />
        </svg>
      </div>
    </div>
{% endblock %}
{% block scripts %}
  <script>
    const main = document.querySelector("body");
    const parallaxLayer1 = document.querySelector(".parallaxLayer1");
    const parallaxLayer2 = document.querySelector(".parallaxLayer2");

    parallaxLayer1.style.height = main.scrollHeight + "px";
    parallaxLayer2.style.height = main.scrollHeight + "px";
  </script>
{% endblock %}