{% extends "bg.twig" %}

{% block content %}
<div>
  <h1>Crampte</h1>
  <p>
    Créer un compte pour accéder à l'ensemble des fonctionnalités de Crampte.
  </p>
  <div style="display: flex; flex-direction: column">
    {% include "searchbar/searchbar.twig" with { __placeholder: "Test..." } %}
  </div>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
    recusandae quia laboriosam quisquam pariatur quos provident quidem beatae
    libero error eius porro, cupiditate maxime. Repellendus, nostrum dolorum!
    Odio magnam ad hic iusto consequatur eum eius ex tempora distinctio cumque,
    pariatur et illo inventore modi veritatis, accusamus eveniet. Quaerat error
    tempora veritatis quis at nihil provident suscipit voluptatibus, inventore
    omnis nulla eius, perferendis id ipsa natus porro illo ea recusandae!
    Numquam repellat est architecto eum velit magni quam voluptatum soluta odio?
    Voluptatibus neque laborum iste, accusamus laboriosam nostrum consectetur
    dolores quisquam, totam provident, rem error quis eligendi necessitatibus at
    temporibus?
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
    recusandae quia laboriosam quisquam pariatur quos provident quidem beatae
    libero error eius porro, cupiditate maxime. Repellendus, nostrum dolorum!
    Odio magnam ad hic iusto consequatur eum eius ex tempora distinctio cumque,
    pariatur et illo inventore modi veritatis, accusamus eveniet. Quaerat error
    tempora veritatis quis at nihil provident suscipit voluptatibus, inventore
    omnis nulla eius, perferendis id ipsa natus porro illo ea recusandae!
    Numquam repellat est architecto eum velit magni quam voluptatum soluta odio?
    Voluptatibus neque laborum iste, accusamus laboriosam nostrum consectetur
    dolores quisquam, totam provident, rem error quis eligendi necessitatibus at
    temporibus?
  </h1>
  <h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam dignissimos
    recusandae quia laboriosam quisquam pariatur quos provident quidem beatae
    libero error eius porro, cupiditate maxime. Repellendus, nostrum dolorum!
    Odio magnam ad hic iusto consequatur eum eius ex tempora distinctio cumque,
    pariatur et illo inventore modi veritatis, accusamus eveniet. Quaerat error
    tempora veritatis quis at nihil provident suscipit voluptatibus, inventore
    omnis nulla eius, perferendis id ipsa natus porro illo ea recusandae!
    Numquam repellat est architecto eum velit magni quam voluptatum soluta odio?
    Voluptatibus neque laborum iste, accusamus laboriosam nostrum consectetur
    dolores quisquam, totam provident, rem error quis eligendi necessitatibus at
    temporibus?
  </h1>
</div>

{% endblock %}
