<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    {% block assets %}{% endblock %}
    {% block head %}{% endblock %}
    <title>{% block title %}Default Title{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}  
    {% block scripts %}{% endblock %}
</body>
</html>

{{ addJS(["js/utils.js", "js/popup.js",]) }}
{{ addCSS(["css/normalize.css", "css/palette.css", "css/style.css"])}}

{{ assets({ files: getCSS(), name: "cramptes.css" }) }}
{{ assets({ files: getJS(), name: "cramptes.js" }) }}