/*
    Palette de couleurs (Altassian)

    Theme  Clair        Sombre
           100    <=>   1000
           200    <=>   900
           300    <=>   800
           400    <=>   700   
           500    <=>   600 
           600    <=>   500
           700    <=>   400
           800    <=>   300
           900    <=>   200
           1000   <=>   100

    Mettre le texte en blanc à partir de la couleur 700
*/
:root {
  --color-lime-100: #efffd6;
  --color-lime-200: #d3f1a7;
  --color-lime-300: #b3df72;
  --color-lime-400: #94c748;
  --color-lime-500: #82b536;
  --color-lime-600: #6a9a23;
  --color-lime-700: #5b7f24;
  --color-lime-800: #4c6b1f;
  --color-lime-900: #37471f;
  --color-lime-1000: #28311b;

  --color-red-100: #ffeceb;
  --color-red-200: #ffd5d2;
  --color-red-300: #fd9891;
  --color-red-400: #f87168;
  --color-red-500: #f15b50;
  --color-red-600: #e2483d;
  --color-red-700: #c9372c;
  --color-red-800: #ae2e24;
  --color-red-900: #5d1f1a;
  --color-red-1000: #42221f;

  --color-orange-100: #fff3eb;
  --color-orange-200: #fedec8;
  --color-orange-300: #fec195;
  --color-orange-400: #fea362;
  --color-orange-500: #f38a3f;
  --color-orange-600: #e56910;
  --color-orange-700: #c25100;
  --color-orange-800: #a54800;
  --color-orange-900: #702e00;
  --color-orange-1000: #38291e;

  --color-yellow-100: #fff7d6;
  --color-yellow-200: #f8e6a0;
  --color-yellow-300: #f5cd47;
  --color-yellow-400: #e2b203;
  --color-yellow-500: #cf9f02;
  --color-yellow-600: #b38600;
  --color-yellow-700: #946f00;
  --color-yellow-800: #7f5f01;
  --color-yellow-900: #533f04;
  --color-yellow-1000: #332e1b;

  --color-green-100: #dcfff1;
  --color-green-200: #baf3db;
  --color-green-300: #7ee2b8;
  --color-green-400: #4bce97;
  --color-green-500: #2abb7f;
  --color-green-600: #22a06b;
  --color-green-700: #1f845a;
  --color-green-800: #216e4e;
  --color-green-900: #164b35;
  --color-green-1000: #1c3329;

  --color-teal-100: #e7f9ff;
  --color-teal-200: #c6edfb;
  --color-teal-300: #9dd9ee;
  --color-teal-400: #6cc3e0;
  --color-teal-500: #42b2d7;
  --color-teal-600: #2898bd;
  --color-teal-700: #227d9b;
  --color-teal-800: #206a83;
  --color-teal-900: #164555;
  --color-teal-1000: #1e3137;

  --color-blue-100: #e9f2ff;
  --color-blue-200: #cce0ff;
  --color-blue-300: #85b8ff;
  --color-blue-400: #579dff;
  --color-blue-500: #388bff;
  --color-blue-600: #1d7afc;
  --color-blue-700: #0c66e4;
  --color-blue-800: #0055cc;
  --color-blue-900: #09326c;
  --color-blue-1000: #1c2b41;

  --color-purple-100: #f3f0ff;
  --color-purple-200: #dfd8fd;
  --color-purple-300: #b8acf6;
  --color-purple-400: #9f8fef;
  --color-purple-500: #8f7ee7;
  --color-purple-600: #8270db;
  --color-purple-700: #6e5dc6;
  --color-purple-800: #5e4db2;
  --color-purple-900: #352c63;
  --color-purple-1000: #2b273f;

  --color-magenta-100: #ffecf8;
  --color-magenta-200: #fdd0ec;
  --color-magenta-300: #f797d2;
  --color-magenta-400: #e774bb;
  --color-magenta-500: #da62ac;
  --color-magenta-600: #cd519d;
  --color-magenta-700: #ae4787;
  --color-magenta-800: #943d73;
  --color-magenta-900: #50253f;
  --color-magenta-1000: #3d2232;

  --color-neutral-0: #ffffff;
  --color-neutral-100: #f7f8f9;
  --color-neutral-200: #f1f2f4;
  --color-neutral-300: #dcdfe4;
  --color-neutral-400: #b3b9c4;
  --color-neutral-500: #8590a2;
  --color-neutral-600: #758195;
  --color-neutral-700: #626f86;
  --color-neutral-800: #44546f;
  --color-neutral-900: #2c3e5d;
  --color-neutral-1000: #172b4d;
  --color-neutral-1100: #091e42;

  --color-neutral-100-alpha: #091e4208;
  --color-neutral-200-alpha: #091e420f;
  --color-neutral-300-alpha: #091e4224;
  --color-neutral-400-alpha: #091e424f;
  --color-neutral-500-alpha: #091e427d;

  /* Text blanc */
  --color-neutral-dark--100: #101214;
  --color-neutral-dark-0: #161a1d;
  --color-neutral-dark-100: #1d2125;
  --color-neutral-dark-200: #22272b;
  --color-neutral-dark-250: #282e33;
  --color-neutral-dark-300: #2c333a;
  --color-neutral-dark-350: #38414a;
  --color-neutral-dark-400: #454f59;
  --color-neutral-dark-500: #596773;
  /* Text noir */
  --color-neutral-dark-600: #738496;
  --color-neutral-dark-700: #8c9bab;
  --color-neutral-dark-800: #9fadbc;
  --color-neutral-dark-900: #b6c2cf;
  --color-neutral-dark-1000: #c7d1db;
  --color-neutral-dark-1100: #dee4ea;

  --color-neutral-dark--100-alpha: #03040442;
  --color-neutral-dark-100-alpha: #bcd6f00a;
  --color-neutral-dark-200-alpha: #a1bdd914;
  --color-neutral-dark-250-alpha: #c8e1f91a;
  --color-neutral-dark-300-alpha: #a6c5e229;
  --color-neutral-dark-350-alpha: #c3defe33;
  --color-neutral-dark-400-alpha: #9bb4ca80;
  --color-neutral-dark-500-alpha: #9bb4ca80;

  --text-color-light: white;
  --text-color-dark: black;

  --text-color-lime-100: var(--text-color-dark);
  --text-color-lime-200: var(--text-color-dark);
  --text-color-lime-300: var(--text-color-dark);
  --text-color-lime-400: var(--text-color-dark);
  --text-color-lime-500: var(--text-color-dark);
  --text-color-lime-600: var(--text-color-dark);
  --text-color-lime-700: var(--text-color-light);
  --text-color-lime-800: #4c6b1f;
  --text-color-lime-900: #37471f;
  --text-color-lime-1000: #28311b;

  --text-color-red-100: var(--text-color-dark);
  --text-color-red-200: var(--text-color-dark);
  --text-color-red-300: var(--text-color-dark);
  --text-color-red-400: var(--text-color-dark);
  --text-color-red-500: var(--text-color-dark);
  --text-color-red-600: var(--text-color-dark);
  --text-color-red-700: var(--text-color-light);
  --text-color-red-800: var(--text-color-light);
  --text-color-red-900: var(--text-color-light);
  --text-color-red-1000: var(--text-color-light);

  --text-color-orange-100: var(--text-color-dark);
  --text-color-orange-200: var(--text-color-dark);
  --text-color-orange-300: var(--text-color-dark);
  --text-color-orange-400: var(--text-color-dark);
  --text-color-orange-500: var(--text-color-dark);
  --text-color-orange-600: var(--text-color-dark);
  --text-color-orange-700: var(--text-color-light);
  --text-color-orange-800: var(--text-color-light);
  --text-color-orange-900: var(--text-color-light);
  --text-color-orange-1000: var(--text-color-light);

  --text-color-yellow-100: var(--text-color-dark);
  --text-color-yellow-200: var(--text-color-dark);
  --text-color-yellow-300: var(--text-color-dark);
  --text-color-yellow-400: var(--text-color-dark);
  --text-color-yellow-500: var(--text-color-dark);
  --text-color-yellow-600: var(--text-color-dark);
  --text-color-yellow-700: var(--text-color-light);
  --text-color-yellow-800: var(--text-color-light);
  --text-color-yellow-900: var(--text-color-light);
  --text-color-yellow-1000: var(--text-color-light);

  --text-color-green-100: var(--text-color-dark);
  --text-color-green-200: var(--text-color-dark);
  --text-color-green-300: var(--text-color-dark);
  --text-color-green-400: var(--text-color-dark);
  --text-color-green-500: var(--text-color-dark);
  --text-color-green-600: var(--text-color-dark);
  --text-color-green-700: var(--text-color-light);
  --text-color-green-800: var(--text-color-light);
  --text-color-green-900: var(--text-color-light);
  --text-color-green-1000: var(--text-color-light);

  --text-color-teal-100: var(--text-color-dark);
  --text-color-teal-200: var(--text-color-dark);
  --text-color-teal-300: var(--text-color-dark);
  --text-color-teal-400: var(--text-color-dark);
  --text-color-teal-500: var(--text-color-dark);
  --text-color-teal-600: var(--text-color-dark);
  --text-color-teal-700: var(--text-color-light);
  --text-color-teal-800: var(--text-color-light);
  --text-color-teal-900: var(--text-color-light);
  --text-color-teal-1000: var(--text-color-light);

  --text-color-blue-100: var(--text-color-dark);
  --text-color-blue-200: var(--text-color-dark);
  --text-color-blue-300: var(--text-color-dark);
  --text-color-blue-400: var(--text-color-dark);
  --text-color-blue-500: var(--text-color-dark);
  --text-color-blue-600: var(--text-color-dark);
  --text-color-blue-700: var(--text-color-light);
  --text-color-blue-800: var(--text-color-light);
  --text-color-blue-900: var(--text-color-light);
  --text-color-blue-1000: var(--text-color-light);

  --text-color-purple-100: var(--text-color-dark);
  --text-color-purple-200: var(--text-color-dark);
  --text-color-purple-300: var(--text-color-dark);
  --text-color-purple-400: var(--text-color-dark);
  --text-color-purple-500: var(--text-color-dark);
  --text-color-purple-600: var(--text-color-dark);
  --text-color-purple-700: var(--text-color-light);
  --text-color-purple-800: var(--text-color-light);
  --text-color-purple-900: var(--text-color-light);
  --text-color-purple-1000: var(--text-color-light);

  --text-color-magenta-100: var(--text-color-dark);
  --text-color-magenta-200: var(--text-color-dark);
  --text-color-magenta-300: var(--text-color-dark);
  --text-color-magenta-400: var(--text-color-dark);
  --text-color-magenta-500: var(--text-color-dark);
  --text-color-magenta-600: var(--text-color-dark);
  --text-color-magenta-700: var(--text-color-light);
  --text-color-magenta-800: var(--text-color-light);
  --text-color-magenta-900: var(--text-color-light);
  --text-color-magenta-1000: var(--text-color-light);

  --text-color-neutral-0: var(--text-color-dark);
  --text-color-neutral-100: var(--text-color-dark);
  --text-color-neutral-200: var(--text-color-dark);
  --text-color-neutral-300: var(--text-color-dark);
  --text-color-neutral-400: var(--text-color-dark);
  --text-color-neutral-500: var(--text-color-dark);
  --text-color-neutral-600: var(--text-color-dark);
  --text-color-neutral-700: var(--text-color-light);
  --text-color-neutral-800: var(--text-color-light);
  --text-color-neutral-900: var(--text-color-light);
  --text-color-neutral-1000: var(--text-color-light);
  --text-color-neutral-1100: var(--text-color-light);

  --text-color-neutral-100-alpha: var(--text-color-dark);
  --text-color-neutral-200-alpha: var(--text-color-dark);
  --text-color-neutral-300-alpha: var(--text-color-dark);
  --text-color-neutral-400-alpha: var(--text-color-dark);
  --text-color-neutral-500-alpha: var(--text-color-dark);

  --text-color-neutral-dark--100: var(--text-color-light);
  --text-color-neutral-dark-0: var(--text-color-light);
  --text-color-neutral-dark-100: var(--text-color-light);
  --text-color-neutral-dark-200: var(--text-color-light);
  --text-color-neutral-dark-250: var(--text-color-light);
  --text-color-neutral-dark-300: var(--text-color-light);
  --text-color-neutral-dark-350: var(--text-color-light);
  --text-color-neutral-dark-400: var(--text-color-light);
  --text-color-neutral-dark-500: var(--text-color-light);
  --text-color-neutral-dark-600: var(--text-color-dark);
  --text-color-neutral-dark-700: var(--text-color-dark);
  --text-color-neutral-dark-800: var(--text-color-dark);
  --text-color-neutral-dark-900: var(--text-color-dark);
  --text-color-neutral-dark-1000: var(--text-color-dark);
  --text-color-neutral-dark-1100: var(--text-color-dark);

  --text-color-neutral-dark--100-alpha: var(--text-color-light);
  --text-color-neutral-dark-100-alpha: var(--text-color-light);
  --text-color-neutral-dark-200-alpha: var(--text-color-light);
  --text-color-neutral-dark-250-alpha: var(--text-color-light);
  --text-color-neutral-dark-300-alpha: var(--text-color-light);
  --text-color-neutral-dark-350-alpha: var(--text-color-light);
  --text-color-neutral-dark-400-alpha: var(--text-color-light);
  --text-color-neutral-dark-500-alpha: var(--text-color-light);
}

:root {
  --background-color: var(--color-teal-100);
  --background-color-dark: var(--color-teal-200);
  --background-color-darker: var(--color-teal-300);
  --primary-color: var(--color-teal-500);
  --secondary-color: var(--color-teal-400);
  --popout : cubic-bezier(.16,.45,.26,1.62);

}

body {
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
}

.parallaxWrapper {
  height: 100vh;
  overflow-x: hidden;

  perspective: 2px;

  background-color: var(--background-color);
}

.parallaxBg {
  width: 100%;
  height: auto;

  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -1;
}

.parallaxLayer1 {
  transform: translateZ(-1px) scale(2);
  z-index: -1;

  svg {
    fill: var(--background-color-dark);
    position: absolute;
    overflow: hidden;
  }

  svg:nth-child(1) {
    top: 15%;
    left: 65%;
    width: 50%;
    height: 50%;
  }

  svg:nth-child(2) {
    top: 15%;
    right: 73%;
    width: 30%;
    height: 50%;
  }

  svg:nth-child(3) {
    top: 40%;
    left: 60%;
    width: 60%;
    height: 75%;
  }

  svg:nth-child(4) {
    top: 60%;
    right: 75%;
    width: 25%;
    height: 30%;
  }
}

.parallaxLayer2 {
  transform: translateZ(-3px) scale(3);

  svg {
    fill: var(--background-color-darker);
    position: absolute;
    overflow: hidden;
  }

  svg:nth-child(1) {
    top: 0;
    left: 65%;
    width: 65%;
    height: 75%;
  }

  svg:nth-child(2) {
    top: 20%;
    right: 80%;
    width: 30%;
    height: 30%;
  }

  svg:nth-child(3) {
    top: 45%;
    right: 65%;
    width: 60%;
    height: 75%;
  }

  svg:nth-child(4) {
    top: 50%;
    left: 55%;
    width: 80%;
    height: 50%;
  }
}

div.bg {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: var(--background-color);
  z-index: -10;
}

div.main {
  background-color: var(--background-color);
  width: 100%;
  height: 100%;
}

div.row {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}

div.row.wrap {
  flex-wrap: wrap;
}

div.row.center {
  justify-content: center;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 0.5rem;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: none;
  gap: 2.5rem;

  justify-content: center;
  align-items: center;

  background-color: var(--color-neutral-300-alpha);

  z-index: 10;
}

#popupContainer {
  position: relative;

  max-height: 80%;

  display: flex;
  flex-direction: column;

  padding: 1rem;
  margin: 2rem;
  border-radius: 10px;

  background-color: var(--background-color);

  word-wrap: normal;

  overflow: auto;
}

#popupContainer.showing {
  animation: popup 300ms var(--popout);
}

#popupContainer.closing {
  animation: popup 300ms var(--popout) reverse forwards;
}

#popupContainer.popup .title {
  font-weight: bold;
  text-decoration: underline;
}

#popupContainer.login .title {
  align-self: center;
  font-weight: bold;
}

#popupContainer.login .container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}

#popupContainer .login{
  display: flex;
  flex-direction: column;

  margin: auto;
}

#popupContainer .login .label {
  font-weight: bold;

  align-self: flex-start;
}

#popupContainer.login .password-error {
  color: var(--color-red-500);
  align-self: flex-start;

  margin: 0.25rem 0;

  word-wrap: break-word;
}

#popupContainer.login .input-container {
  display: flex;
  flex-direction: column;
}

#popupContainer.login .input-container .title {
  align-self: self-start;

  font-weight: bold;

  padding: 0.25rem;

  color: var(--color-neutral-500);
}

#popupContainer.login .input {
  position: relative;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  background-color: white;

  border-radius: 5px;

  padding: 0 0.5rem;

  border: 1px solid white;

  transition: all 200ms ease-in-out;
}

#popupContainer.login .input:hover {
  border: 1px solid var(--primary-color);

  background-color: var(--color-neutral-100);
}

#popupContainer.login .input span {
  display: flex;
  align-items: center;
  justify-content: center;
}

#popupContainer.login .input .right { 
  position: absolute;

  right: 0.5rem;

  height: 100%;

  cursor: pointer;
}

#popupContainer.login .input .left { 
  position: absolute;

  left: 0.5rem;

  height: 100%;

  cursor: pointer;
}

#popupContainer.login input[type="password"],
#popupContainer.login input[type="text"] {
  width: 100%;

  border-radius: 5px;

  background-color: transparent;
  
  border: none;
}

#popupContainer.login input[type="text"]:focus {
  outline: none;
}

#popupContainer.login button {
  align-self: center;

  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  background-color: var(--primary-color);
  color: var(--text-color-light);

  transition: background-color 300ms ease-in-out;
}

.divider {
  align-self: center;

  height: 1px;
  width: 40%;
  background-color: var(--color-neutral-500);
  margin: 0.5rem 0;
}

.divider.small-margin {
  margin: 0.1rem 0;
}

#popupContainer > .content {
  width: 100%;

  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
}

#popupContainer .content .no-icon {
  margin-left: 2rem;
}

.content .sub-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  margin-left: 1rem;
}

a {
  cursor: pointer;
  color: var(--text-color-dark);
}

a.title {
  text-decoration: none;
  width: min-content
}

a.title:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--text-color-dark);
}

a[target="_blank"]::after {
  content: "open_in_new";
  font-family: "Material Symbols Outlined";
  font-size: 0.80rem;
  text-decoration: none;
}

#popupContainer .close-icon {
  position: absolute;
  top: 0;
  right: 0;

  margin: 0.5rem;
  cursor: pointer;

  color: var(--color-neutral-500);
}

.primary-button {
  font-weight: bold;

  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  background-color: var(--primary-color);
  color: var(--text-color-light);

  transition: background-color 300ms ease-in-out;
}

.primary-button:hover {
  background-color: var(--secondary-color);
}

input[type="date"],
input[type="password"],
input[type="text"] {
  margin: 0.25rem 0;
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-500);

  transition: border 200ms ease-in-out;
}

input[type="date"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
}

input[type="date"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  border: 1px solid var(--primary-color);
  outline: none;
}

input[type="date"]::placeholder,
input[type="password"]::placeholder,
input[type="text"]::placeholder {
  text-transform: capitalize;

  color: var(--color-neutral-500);
}

select {
  padding: 0.25rem;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-500);

  transition: border 200ms ease-in-out;
}

select:focus {
  border: 1px solid var(--primary-color);
}

select:hover {
  border: 1px solid var(--primary-color);
}

.rounded {
  border-radius: 100%;

  background-color: white;
  border: 0.15rem solid var(--color-neutral-500);

  cursor: pointer;
  user-select: none;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

textarea {
  font-size: small;

  height: 80%;
  width: 100%;

  margin: 0.25rem 0;
  border-radius: 5px;
  border: 1px solid var(--color-neutral-500);

  transition: border 200ms ease-in-out;

  resize: none;
}

.pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 0px) {
  #popupContainer {
    min-width: fit-content;
    width: 30%;

    font-size: medium;
  }

  #popupContainer .content {
    font-size: medium;
  }
  
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #popupContainer {
    max-width: 40%;
  }

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
  #popupContainer {
    width: 50%;

    margin: 15%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #popupContainer {
    width: 60%;

    margin: 10%;
  }

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}

@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.light-text {
  font-size: medium;
}

.font-xs {
  font-size: x-small;
}

.font-sm {
  font-size: small
}

.font-md {
  font-size: medium;
}

.font-lg {
  font-size: large;
}

.font-xl {
  font-size: x-large;
}

.xs {
  width: 10%;
}

.sm {
  width: 20%;
}

.md {
  width: 30%;
}

.lg {
  width: 40%;
}

.xl {
  width: 50%;
}

.p-1 {
  padding: 0.25rem;
}

.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p-3 {
  padding: 0.75rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.p-4 {
  padding: 1rem;
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.m-1 {
  margin: 0.25rem;
}

.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.m-2 {
  margin: 0.5rem;
}

.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-3 {
  margin: 0.75rem;
}

.mx-3 {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
}

.my-3 {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.m-4 {
  margin: 1rem;
}

.mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.none {
  display: none;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.material-symbols-outlined {
  user-select: none;
}