{{ addCSS("searchbar/style.css") }}

<div class="search-bar">
  <input type="text" class="search-input" placeholder={{ __placeholder??"Search..." }}>
  <span class="material-symbols-outlined searchIcon">search</span>
</div>